.top-banner  {
    display: grid;
    place-items: center;
}

.city-name {
    padding-top: 1.2em;
    padding-bottom: 3em;
    font-size: 1.2em;
}

.weather-description {
    
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 1em;
    padding-bottom: 5em;
}

.page-title {

    font-style: italic;
    color: #d9514eff;
}

#submit-button {

    background-color: #696969;
    color: white;
}

body {

    padding-right: 30em;
    padding-left: 30em;
}